<style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
</style>

<h1>Welcome</h1>

<form action="/create-customer" method="post">
    <input type="text" required placeholder="Enter your name" name="name">
    <br><br>
    <input type="email" required placeholder="Enter your email" name="email">
    <br><br>
    <input type="number" required placeholder="Enter your phone number" name="phone">
    <br><br>
    <input type="number" required placeholder="Enter your account No" name="account">
    <br><br>
    <input type="number" required placeholder="Enter the cash to deposit" name="balance">
    <br><br>
    <button type="submit">Submit</button>
</form>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" > </script> 
<script>
    console.log("script loaded");
    $("form").submit(function(e)
    {
        e.preventDefault();
        $.ajax({
            method:"post",
            url:"/create-customer",
            data:$("form").serialize(),
            success:function(data)
            {
                console.log(data);
                if(data.message=="Customer registered Successfully")
                {
                    swal({
                            title: "Registered Successfully!",
                            text: `${data.customer.email} is on board with us!`,
                            icon: "success",
                        });
                }
                else
                {
                    swal({
                        title: "Email ID already exists!",
                        icon: "warning",
                        dangerMode: true,
                    });
                }
            },
            error:function(err)
            {
                return;
            }
        })
    })
</script>