
<div>
    <p>
        Hi <%= user.name %>,
    </p>
    <br> 
    <p>Welcome to the MS Bank Family, We hope that you will find this journey enchanting!</p>
    <br>
    <p>
        Your account details:
        <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <span>
            Name: <strong><%= user.name %></strong>
        </span>
        <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <span>
            Email: <strong><%= user.email %></strong>
        </span>
        <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <span>
            Phone: <strong><%= user.phone %></strong>
        </span>
        <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <span>
            Account No: <strong><%= user.account %></strong>
        </span>
        <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <span>
            Balance: <strong><%= user.balance %></strong>
        </span>

    </p><br>
    <p>In adieu of protecting your assets on making limitless transactions, 
       you will asked to verify your fingerprint along with 3 OTPs send to you from us.</p>
    <p>Have a nice day!</p>
    <br>
    <p>With best regards,<br>
        MS Bank Team
    </p>
</div>